@model PrácticaEnElAula.Models.Employee

@{
    ViewData["Title"] = "Empleados - Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles</h1>

<div>
    <h4>Empleados</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cargo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDeIngreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDeIngreso)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary">Volver</a>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-danger">Editar</a> 
</div>
