@model IEnumerable<PrácticaEnElAula.Models.Employee>

@{
    ViewData["Title"] = "Empleados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Empleados</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeIngreso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cargo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaDeIngreso)
                </td>
                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Editar</a> 
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Ver detalles</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
